.cv
    position relative
    width rem(966)
    margin 0 auto

    &__back
        width 100%
        height 100%
        background-color #E1E1E1
        position absolute
        top 0
        left 0
        z-index 1
        transform rotate(-1.5deg)
    
    &__shadow-1
        width 96%
        height rem(400)
        background-color rgba(0,0,0,0.7)
        position absolute
        bottom 0
        left 2%
        z-index 2
        transform rotate(-3.5deg)
        filter blur(15px)
    
    &__shadow-2
        width 96%
        height rem(400)
        background-color rgba(0,0,0,0.7)
        position absolute
        bottom 0
        left 2%
        z-index 2
        transform rotate(3.5deg)
        filter blur(15px)
    
    &__shadow-3
        width 94%
        height rem(400)
        background-color rgba(0,0,0,0.5)
        position absolute
        top rem(50)
        right rem(-20)
        z-index 2
        transform rotate(4deg)
        filter blur(16px)

    &__shadow-4
        width 94%
        height rem(400)
        background-color rgba(0,0,0,0.5)
        position absolute
        bottom rem(30)
        right rem(-20)
        z-index 2
        transform rotate(-4deg)
        filter blur(15px)
    
    &__shadow-5
        width 94%
        height rem(600)
        background-color rgba(0,0,0,0.5)
        position absolute
        bottom rem(440)
        right rem(-10)
        z-index 2
        filter blur(12px)

    &__front
        background-color var(--paper-background)
        width 100%
        margin 0 auto
        position relative
        z-index 4
        padding rem(30)
        color var(--gray-color)
        letter-spacing rem(0.5)

        display flex
        flex-direction column
    
    &__header
        display flex
        flex-direction column
        align-items flex-start

        &__title
            font-size rem(63)
            text-transform uppercase
            font-weight 900
            line-height 1.1
        
        &__link
            font-size rem(22)
            display inline
            font-weight 500
    
    &__block
        display flex
        flex-direction column
        gap rem(17)
        font-size rem(17)
        font-weight 300

        &__title
            font-size rem(34)
            line-height 1
            font-weight 800
            text-transform uppercase
        
        &__text

            &.m--mini
                max-width rem(550)
        
        &__article
            margin-bottom rem(10)
            &:last-of-type
                margin-bottom 0

            &__title
                text-transform uppercase
                font-weight 500
            &__subtitle
                display block
                margin-bottom rem(20)
            &__list
                display flex
                flex-direction column
                gap rem(20)
                li
                    padding-left rem(17)
                    position relative
                    &::before
                        content ''
                        display block
                        circle(4)
                        background-color #A2A2A2
                        position absolute
                        top rem(6)
                        left rem(0)
    
    &__actions
        position relative
        padding rem(36, 40)
        border rem(1) solid var(--paper-background)
        transition all ease .25s

        &__items
            background-color var(--paper-background)
            padding rem(10)
            border-radius rem(30)

            display flex
            flex-direction column
            gap rem(13)

            position absolute
            top rem(10)
            right rem(10)

            transition all ease .25s

            display none

            img
                cursor pointer

                opacity 0
                transform translateX(15px)
                transition all ease-out .25s

                &:nth-child(1)
                    transition-delay 0
                &:nth-child(2)
                    transition-delay 0.06s
                &:nth-child(3)
                    transition-delay 0.12s

        &:hover
            background-color #F5F5F5
            color #111
            border-color #EBEBEB

            .cv__actions__items
                background-color #F5F5F5
                
                img
                    opacity 0.4
                    transform translateX(0)
    
                    &:hover
                        transform scale(1.2)
                        opacity 1
    
    &__more
        circle(48)
        background-color var(--gray-color)
        cursor pointer

        position absolute
        bottom rem(70)
        right rem(70)
        z-index 5

        transition all ease-out 0.3s

        &::before, &::after
            content ''
            display block
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)
            width rem(8)
            height rem(24)
            background-color var(--white-color)

        &::after
            transform translate(-50%, -50%) rotate(90deg)
        
        &:hover
            background-color var(--orange-color)
            transform rotate(90deg) scale(1.15)

    &__file-detail
        fullBox(fixed)
        z-index 50

        display none
        justify-content flex-end

        &.-active-
            display flex
        
        &.-show-
            .cv__file-detail__back
                opacity 1
            .cv__file-detail__container
                transform translateX(0)

        &__back
            fullBox(absolute)
            background-color rgba(0,0,0,.65)
            opacity 0
            transition opacity ease .25s
        
        &__container
            width rem(500)
            height 100%
            background-color var(--white-color)
            position relative
            padding rem(70, 50)
            color var(--gray-color)
            box-shadow rem(-10, 0, 10) rgba(0,0,0,.2)
            transform translateX(100%)
            transition transform ease .25s
        
        &__close
            box(30)
            position absolute
            top rem(20)
            right rem(20)
            cursor pointer
            &::before, &::after
                content ''
                display block
                width 100%
                height rem(6)
                border-radius rem(3)
                background-color #666
                position absolute
                top 50%
                left 50%
                transition background-color ease .25s
            &::before
                transform translate(-50%, -50%) rotate(-45deg)
            &::after
                transform translate(-50%, -50%) rotate(45deg)
            &:hover
                &::before, &::after
                    background-color var(--orange-color)
        
        &__title
            font-size rem(26)
            font-weight 900
            text-transform uppercase
            margin-bottom rem(25)
            color #666
        
        &__text, &__list
            strong
                font-weight 600
                color #777
            a
                text-decoration underline
                color #777
                display inline
                &:hover
                    text-decoration none
                    color #333

        &__content
            font-size rem(17)
            line-height 1.3
            display flex
            flex-direction column
            gap rem(28)
        
        &__list
            display flex
            flex-direction column
            gap rem(15)
            li
                padding-left rem(17)
                position relative
                &::before
                    content ''
                    display block
                    circle(6)
                    background-color var(--gray-color)
                    position absolute
                    top rem(8)
                    left 0
        &__help
            display flex
            flex-direction column
            gap rem(8)
            &__title
                font-size rem(20)
                font-weight 700
                color #666
                margin-bottom rem(3)
            &__link
                display flex
                align-items center
                gap rem(6)
                line-height 1
                color var(--orange-color)
                img
                    transform translateY(-1px)
                &:hover
                    text-decoration underline
    
    &__video-detail
        fullBox(fixed)
        z-index 50
        padding rem(50)
        display none
        align-items center
        justify-content center

        &.-active-
            display flex

        &__back
            fullBox(absolute)
            background-color rgba(0,0,0,.65)
            opacity 0
            transition opacity ease .25s

        &__video
            position relative
            width rem(1200)
            aspect-ratio 16 / 9
            background-color #ccc
            border-radius rem(20)
            box-shadow rem(0, 10, 20) rgba(0,0,0,.5)
            overflow hidden
            transform translateY(100px) scale(0.95)
            opacity 0
            transition all ease-out .25s
            iframe
                width 100%
                height 100%
        &.-show-
            .cv__video-detail__back
                opacity 1
            .cv__video-detail__video
                transition-delay 0.1s
                transform translateY(0) scale(1)
                opacity 1


.fnShowFileDetail, .fnShowVideoDetail
    cursor pointer
    transition color ease .25s
    &:hover
        color var(--blue-color)