.cv
    position relative
    width 100%
    max-width rem(966)
    margin 0 auto

    &__back
        width 100%
        height 100%
        background-color #E1E1E1
        position absolute
        top 0
        left 0
        z-index 1
        transform rotate(-1.5deg)
    
    &__shadow-1
        width 96%
        height rem(400)
        background-color rgba(0,0,0,0.7)
        position absolute
        bottom 0
        left 2%
        z-index 2
        transform rotate(-3.5deg)
        filter blur(15px)
    
    &__shadow-2
        width 96%
        height rem(400)
        background-color rgba(0,0,0,0.7)
        position absolute
        bottom 0
        left 2%
        z-index 2
        transform rotate(3.5deg)
        filter blur(15px)
    
    &__shadow-3
        width 94%
        height rem(400)
        background-color rgba(0,0,0,0.5)
        position absolute
        top rem(50)
        right rem(-20)
        z-index 2
        transform rotate(4deg)
        filter blur(16px)

    &__shadow-4
        width 94%
        height rem(400)
        background-color rgba(0,0,0,0.5)
        position absolute
        bottom rem(30)
        right rem(-20)
        z-index 2
        transform rotate(-4deg)
        filter blur(15px)
    
    &__shadow-5
        width 94%
        height rem(600)
        background-color rgba(0,0,0,0.5)
        position absolute
        bottom rem(440)
        right rem(-10)
        z-index 2
        filter blur(12px)

    &__front
        background-color var(--paper-background)
        width 100%
        margin 0 auto
        position relative
        z-index 4
        padding rem(30)
        color var(--gray-color)
        letter-spacing rem(0.5)

        display flex
        flex-direction column
    
    &__header
        position relative
        display flex
        align-items flex-start
        justify-content space-between
        gap rem(50)
        
        &__content
            display flex
            flex-direction column
            align-items flex-start

        &__title
            font-size rem(63)
            text-transform uppercase
            font-weight 900
            line-height 1.1
        
        &__link
            font-size rem(22)
            display inline
            font-weight 500
        
        &__photo
            width rem(190)
            height rem(220)
            border rem(1) dashed var(--gray-color)
        
        &__video
            width 100%
            height 100%
            opacity 0
            transition opacity ease .25s
            &.-active-
                opacity 1            
    
    &__block
        display flex
        flex-direction column
        align-items flex-start
        gap rem(17)
        font-size rem(17)
        font-weight 300

        &__title
            font-size rem(34)
            line-height 1
            font-weight 800
            text-transform uppercase
        
        &__article
            margin-bottom rem(10)
            display flex
            flex-direction column
            align-items flex-start
            &:last-of-type
                margin-bottom 0

            &__title
                text-transform uppercase
                font-weight 500
            &__subtitle
                display block
                margin-bottom rem(20)
            &__list
                display flex
                flex-direction column
                gap rem(20)
                li
                    padding-left rem(17)
                    position relative
                    &::before
                        content ''
                        display block
                        circle(4)
                        background-color #A2A2A2
                        position absolute
                        top rem(6)
                        left rem(0)
    
    &__actions
        position relative
        padding rem(36, 40)
        border rem(1) solid var(--paper-background)
        transition all ease .25s

        &:has(.cv__block__article__title:hover) .cv__block__article__title
        &:has(.cv__block__article__subtitle:hover) .cv__block__article__subtitle
        &:has(.cv__block__article__list:hover) .cv__block__article__list
            color var(--blue-color)

        &:hover
            background-color #F5F5F5
            color #111
            border-color #EBEBEB
            cursor pointer

            .cv__header__photo
                border-color #111
                transition all ease .25s
                &:hover
                    border rem(2) dashed var(--blue-color)
    
    &__more
        circle(48)
        background-color var(--gray-color)
        cursor pointer

        position absolute
        bottom rem(70)
        right rem(70)
        z-index 5

        transition all ease-out 0.3s

        &::before, &::after
            content ''
            display block
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)
            width rem(8)
            height rem(24)
            background-color var(--white-color)

        &::after
            transform translate(-50%, -50%) rotate(90deg)
        
        &:hover
            background-color var(--orange-color)
            transform rotate(90deg) scale(1.15)

    &__file-detail
        fullBox(fixed)
        z-index 50

        display none
        justify-content flex-end

        &.-active-
            display flex
        
        &.-show-
            .cv__file-detail__back
                opacity 1
            .cv__file-detail__container
                transform translateX(0)

        &__back
            fullBox(absolute)
            opacity 0
            transition opacity ease .25s
        
        &__container
            width 100%
            max-width rem(660)
            height 100%
            backdrop-filter blur(10px)
            background-color rgba(0,0,0,.8)
            position relative
            padding rem(100, 80)
            color var(--white-color)
            overflow auto
            transform translateX(100%)
            transition transform ease .25s
        
        &__close
            box(30)
            position absolute
            top rem(30)
            right rem(30)
            cursor pointer
            &::before, &::after
                content ''
                display block
                width 100%
                height rem(6)
                border-radius rem(3)
                background-color var(--white-color)
                position absolute
                top 50%
                left 50%
                transition background-color ease .25s
            &::before
                transform translate(-50%, -50%) rotate(-45deg)
            &::after
                transform translate(-50%, -50%) rotate(45deg)
            &:hover
                &::before, &::after
                    background-color var(--orange-color)
        
        &__video
            width 100%
            aspect-ratio 16 / 9
            margin-bottom rem(40)
            border-radius rem(16)
        
        &__title
            font-size rem(26)
            font-weight 900
            text-transform uppercase
            margin-bottom rem(15)
        
        &__text, &__list
            strong
                font-weight 700
            a
                text-decoration underline
                display inline
                &:hover
                    text-decoration none

        &__content
            font-size rem(17)
            line-height 1.3
            display flex
            flex-direction column
            gap rem(20)
        
        &__list
            display flex
            flex-direction column
            gap rem(10)
            li
                padding-left rem(17)
                position relative
                &::before
                    content ''
                    display block
                    circle(6)
                    background-color var(--gray-color)
                    position absolute
                    top rem(8)
                    left 0
        &__help
            display flex
            flex-direction column
            gap rem(15)
            margin-top rem(15)
            &__title
                font-size rem(24)
                font-weight 900
                margin-bottom rem(3)
                text-transform uppercase
            &__link
                display flex
                align-items center
                gap rem(15)
                line-height 1
                img
                    flex none
                    transform translateY(-1px)
                &:hover
                    text-decoration underline
    
    &__video-detail
        fullBox(fixed)
        z-index 50
        padding rem(50)
        display none
        align-items center
        justify-content center

        &.-active-
            display flex

        &__back
            fullBox(absolute)
            background-color rgba(0,0,0,.65)
            opacity 0
            transition opacity ease .25s

        &__video
            position relative
            width rem(1200)
            aspect-ratio 16 / 9
            background-color #ccc
            border-radius rem(20)
            box-shadow rem(0, 10, 20) rgba(0,0,0,.5)
            overflow hidden
            transform translateY(100px) scale(0.95)
            opacity 0
            transition all ease-out .25s
            iframe
                width 100%
                height 100%
        &.-show-
            .cv__video-detail__back
                opacity 1
            .cv__video-detail__video
                transition-delay 0.1s
                transform translateY(0) scale(1)
                opacity 1

    
    @media (max-width: --screen-2xl)

        &__front
            padding rem(25)

        &__actions
            padding rem(36, 35)
        
        &__header
            &__title
                font-size rem(58)
        
        &__more
            bottom rem(60)
            right rem(60)
    

    @media (max-width: --screen-xl)

        &__front
            padding rem(20)

        &__actions
            padding rem(30)
        
        &__header
            &__title
                font-size rem(51)
            &__link
                font-size rem(20)
        
        &__block
            gap rem(15)
            &__title
                font-size rem(30)
        
        &__more
            bottom rem(45)
            right rem(45)
    

    @media (max-width: --screen-md)

        &__front
            padding rem(20)

        &__actions
            padding rem(25)
        
        &__header
            &__title
                font-size rem(45)
            &__link
                font-size rem(19)
            &__photo
                width rem(180)
                height rem(200)
        
        &__block
            gap rem(15)
            &__title
                font-size rem(28)
        
        &__more
            bottom rem(35)
            right rem(35)
        
        &__file-detail
            
            &__container
                width 100%
                max-width rem(600)
                padding rem(70, 60)
            
            &__close
                box(28)
                top rem(20)
                right rem(20)
            
            &__video
                margin-bottom rem(35)
                border-radius rem(16)
            
            &__title
                font-size rem(24)
                margin-bottom rem(10)
        
        &__video-detail
            padding rem(40)
            &__video
                border-radius rem(16)
        

    @media (max-width: --screen-sm)

        &__actions
            padding rem(20)
        
        &__header
            gap rem(20)
            &__title
                font-size rem(40)
            &__link
                font-size rem(18)
             &__photo
                width rem(150)
                height rem(180)
        
        &__block
            gap rem(10)
            font-size rem(16)
            &__title
                font-size rem(25)
        
        &__more
            bottom rem(30)
            right rem(30)
            box(40)
            &::before, &::after
                width rem(6)
                height rem(20)
        

        &__file-detail
            
            &__container
                width 100%
                max-width rem(540)
                padding rem(60, 50)
            
            &__close
                box(26)
            
        &__video-detail
            padding rem(30)
            &__video
                border-radius rem(14)
    

    @media (max-width: --screen-xs)

        &__front
            padding rem(15)

        &__actions
            padding rem(15)
        
        &__header
            gap rem(10)
            &__title
                font-size rem(32)
                margin-bottom rem(5)
            &__link
                font-size rem(17)
            &__photo
                width rem(120)
                height rem(150)
        
        &__block
            gap rem(10)
            font-size rem(15)
            &__title
                font-size rem(21)
        
        &__more
            bottom rem(25)
            right rem(25)
        
        &__file-detail
            
            &__container
                width 100%
                padding rem(45, 30)
            
            &__close
                box(24)
                top rem(10)
                right rem(10)
            
            &__video
                margin-bottom rem(30)
                border-radius rem(12)
            
            &__title
                font-size rem(20)

            &__content
                font-size rem(16)
                gap rem(15)
            
            &__list
                gap rem(7)

            &__help
                margin-top rem(10)
                &__title
                    font-size rem(20)
                    margin-bottom 0
                &__link
                    gap rem(12)
        
        &__video-detail
            padding rem(20)
            &__video
                border-radius rem(12)
    

    @media (max-width: --screen-2xs)

        &__front
            padding rem(12)

        &__actions
            padding rem(12)
        
        &__header
            &__title
                font-size rem(28)
            &__link
                font-size rem(16)
            &__photo
                width rem(100)
                height rem(110)
        
        &__block
            gap rem(10)
            font-size rem(14)
            &__title
                font-size rem(20)
        
        &__more
            bottom rem(20)
            right rem(20)
            box(36)
            &::before, &::after
                width rem(5)
                height rem(17)

.fnShowFileDetail, .fnShowVideoDetail
    cursor pointer
    transition color ease .25s
    &:hover
        color var(--blue-color)
    &.m--no-hover:hover
        color initial