// header
.header
    display flex
    align-items center
    flex-wrap wrap
    gap rem(65, 100)

    width 100%
    max-width rem(1250)
    margin 0 auto
    padding rem(53, 0, 60)

    position relative

    &__play-button
        circle(60)
        border rem(5) solid var(--white-color)
        position relative
        cursor pointer
        transition transform ease 0.25s, border-color ease .25s

        &::after
            content ''
            display block
            width 0
            height 0
            border-left rem(18) solid var(--white-color)
            border-top rem(10) solid transparent
            border-bottom rem(10) solid transparent
            position absolute
            top 50%
            left 50% 
            transform translate(-35%, -50%)
        
        &:hover
            transform scale(1.15)
            border-color rgba(255,255,255,.75)

    &__description
        width 100%
        color var(--white-color)
        font-size rem(30)
        font-weight 200
        letter-spacing rem(0.5)
    
    @media (max-width: --screen-2xl)

        gap rem(40, 60)
        padding rem(40, 0, 50)

        &__description
            font-size rem(27)
        
        &__play-button
            circle(55)
            border-width rem(4)
    
    @media (max-width: --screen-xl)

        &__description
            font-size rem(25)
        
        &__play-button
            circle(50)
            &::after
                border-left rem(14) solid var(--white-color)
                border-top rem(8) solid transparent
                border-bottom rem(8) solid transparent
        
    
    @media (max-width: --screen-lg)

        padding rem(30, 0, 40)

        &__description
            font-size rem(22)
    

    @media (max-width: --screen-md)

        gap rem(30, 50)

        &__description
            font-size rem(20)
        
        &__play-button
            circle(45)
            &::after
                border-left rem(13) solid var(--white-color)
                border-top rem(7) solid transparent
                border-bottom rem(7) solid transparent
    

    @media (max-width: --screen-sm)

        &__description
            font-size rem(19)
        

    @media (max-width: --screen-xs)

        gap rem(25,30)
        padding rem(30, 0)

        &__description
            font-size rem(18)
        
        &__play-button
            circle(40)
            border-width rem(3)
            &::after
                border-left rem(13) solid var(--white-color)
                border-top rem(7) solid transparent
                border-bottom rem(7) solid transparent
    

    @media (max-width: --screen-2xs)

        gap rem(20,25)
        padding rem(30, 0, 25)

        &__description
            font-size rem(17)
        
        &__play-button
            circle(36)
            border-width rem(2)
            &::after
                border-left rem(11) solid var(--white-color)
                border-top rem(6) solid transparent
                border-bottom rem(6) solid transparent
    