.images
    position absolute
    display block
    overflow-x hidden
    display flex
    img
        max-width initial

.cafe
    position absolute
    top rem(330)
    left 0
    // width 30%
    max-width rem(480)
    justify-content flex-end
        
.teclado
    top rem(290)
    right 0
    // width 20%
    max-width rem(370)
    
.block-de-notas
    position absolute
    top rem(1050)
    // left rem(-1040)
    left rem(0)
    width rem(420)
    align-items flex-start
    justify-content flex-end
    max-height rem(839)
    overflow hidden

    @media (max-width: --screen-2xl)
        max-height rem(745)
    
    @media (max-width: --screen-xl)
        max-height rem(630)

.lapicero
    position absolute
    top rem(1000)
    right 0
    width rem(450)