*, *:before, *:after
	box-sizing border-box
	
body,html
	margin 0
	padding 0
	width 100%
	overflow-x hidden

	background var(--white-color)
	color var(--black-color)

	font-size 16px
	line-height 1.2	

	font-family "Heebo", sans-serif
	font-optical-sizing auto
	font-weight 400
	font-style normal

html
	scroll-behavior smooth
	// scroll-padding-top var(--header-height)

picture
	margin 0
	padding 0